*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    display: flex;
    flex-direction: column;
    background: #000;
    color: white;
}
#link{
    font-weight: 300;
    color: white;
    font-size: 20px;
    margin-left:3rem;
}
.main-div{
    margin-top: 5rem;
    text-align: center;
}
.main-div h1{
    margin: 10px 0;
}
.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 1rem;
    width: 100%;
  }
.Card{
    width: 25rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 5px solid gray;
}
.img{
    width: 35%;
    display: inline;
}
.cardBody{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

#btn{
    background: #1c1a1a;
    color: white;
    padding:0 5px;
}
@media only screen and (max-width: 700px) {
    .home {
      grid-template-columns: repeat(2, 1fr);
    }
    .Card{
        flex-direction: column;
        width: auto;
    }
    .img{
        width:100%;
    }
    .cardBody{
        width: 100%;
        margin-top: 1rem;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .home {
      grid-template-columns: repeat(1, 1fr);
    }
    .Card{
        flex-direction: column;
        width: auto;
    }
    .img{
        width:100%;
    }
    .cardBody{
        width: 100%;
        margin-top: 1rem;
    }
  }